.rst-content dl:not(.docutils) .property {
    display: inline;
}

.wy-nav-side {
    width: 350px;
}

.wy-nav-content-wrap {
    margin-left: 350px;
}

.wy-menu-vertical li.toctree-l3 a {
    background: #343131;
    padding: 0.4045em 3.236em;
    box-shadow: none;
}

.wy-menu-vertical li.toctree-l4 a {
    background: #343131;
    padding: 0.4045em 4.045em;
    box-shadow: none;
}

.wy-menu-vertical li.toctree-l5 a {
    background: #343131;
    padding: 0.4045em 4.854em;
    box-shadow: none;
}

p.caption {
    color: #b3b3b3;
}